body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
div{
    display: flex;
}
/* Navigation */
#nav-arrow{
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10vh;
    font-weight: 100;
    transition: all 300ms ease-in-out;
}
#nav-arrow:hover{
    font-size: 17vh;
    cursor: pointer;
}
/* Page 1 */
#page-1{
    height: 100vh;
    width: 100%;
    flex-direction: row;
}
.title-div{
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.title-name{
    font-size: 8vh;
    text-align: start;
    margin: 0px;
    margin-left: 4vw;
    margin-right: 4vw;
}
.bio{
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 2vh;
    text-align: start;
}
.links{
    width: 40%;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.link-group{
    height: 40%;
    width: 40%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    width: auto;
    height: 7vh;
    border-radius: 7vh;
    border: none;
    transition: all 0.5s ease;
}
.logo:hover{
    height: 12vh;
    background-color: rgb(94, 144, 254);
}
.tech-footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    top: 88vh;
    font-weight: 400;
    
}

/* Page 2 */
.skills-name{
    font-size: 4.5vh;
    text-align: start;
    margin: 0px;
    margin-left: 4vw;
    margin-right: 4vw;
}
#body-page{
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.project-viewport{
    width: 100%;
    height: calc(100%/3);
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.sub{
    margin: 0px;
    margin-left: 10vw;
    font-weight: 300;
    font-size: 4vh;
}
.dtc-viewport{
    background-color:#1e8ced;
}

.dtc-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 6vh;
    margin-left: 10vw;
    text-decoration: none;
    color: white;
}
.dtc-sub{
    font-family: 'Montserrat', sans-serif;
}
.exp-viewport{
    background-color:#FBB040;
}

.exp-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 6vh;
    margin-left: 10vw;
    text-decoration: none;
    color: white;
}
.exp-sub{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
.trk-viewport{
    background-color:#f75268;
}

.trk-text{
    font-family:'Major Mono Display', monospace;
    font-weight: 900;
    font-size: 6vh;
    margin-left: 10vw;
    text-decoration: none;
    color: white;
}
.trk-sub{
    font-family:'Major Mono Display', monospace;
}
.work-footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    top: 188vh;
    font-weight: 400;
}