body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
div{
    display: flex;
}
.page-1{
    height: 100vh;
    width: 100%;
    flex-direction: row;
}
.title-div{
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.title-name{
    font-size: 8vh;
    text-align: center;
}
.links{
    width: 40%;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.link-group{
    height: 40%;
    width: 40%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    width: auto;
    height: 10vh;
    transition: all 0.2s ease;
}
.logo:hover{
    height: 12vh;
}
#nav-arrow{
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15vh;
}