body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}

div{
    color: rgb(67, 67, 67);
    display: flex;
}
.title-div{
    width: 80%;
    justify-self: start;
}